<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Title</title>
</head>
    
<body>
<ul>
    <li>
        <a href="{% url 'index' %}">Forms</a>
    </li>
    <li>
        <a href="{% url 'model forms' %}">Model forms</a>
    </li>
</ul>
<h1>
    {% if name %}
        Hello, {{ name }}! Nice to see you!
    {% else %}
        Please, enter your name!
    {% endif %}
</h1>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Send name</button>
</form>
</body>
</html>