{% extends 'nav.html' %}
{% block page_content %}
    <main>

        <!-- Dashboard Page -->
        <h2>Fruits</h2>
        <section id="dashboard">
            {% if fruits %}
                {% for fruit in fruits %}
                     <div class="fruit">
                    <!-- fruit image -->
                    <img src="{{ fruit.image_url }}" alt="example1"/>
                    <!-- fruit name -->
                    <h3 class="title">{{ fruit.name }}</h3>
                    <!-- fruit description -->
                    <p class="description">{{ fruit.description|truncatechars:51 }}</p>
                    <!-- fruit details button -->
                    <a class="details-btn" href="{% url 'fruit details' pk=fruit.pk %}">More Info</a>
                    </div>

                {% endfor %}
            {% else %}
                <h2>No fruit info yet.</h2>
            {% endif %}

        </section>

        <!-- Display a heading if there are no posts -->


    </main>
</div>
<!-- footer -->
<footer>
    <p>@Fruitipedia - SoftUni Team 2023. All rights reserved.</p>
</footer>
</body>
</html>

{% endblock %}