{% extends 'nav.html' %}
{% block page_content %}
    <main>

        <!-- Edit Fruit Form -->
        <section id="edit">
            <div class="form">
                <h2>Edit Fruit</h2>
                <form method="post" action="{% url 'fruit edit' pk=fruit.pk %}" class="edit-form">
                    {{ form }}
                    <button type="submit">Edit</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>

    </main>
</div>
<!-- footer -->
<footer>
    <p>@Fruitipedia - SoftUni Team 2023. All rights reserved.</p>
</footer>
</body>
</html>

{% endblock %}